@using Microsoft.AspNetCore.Identity
@using FitnessCenter.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-center ms-3 gap-2">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="nav-item">
        <a  class="nav-link text-white fw-bold" asp-area="" title="Manage">@user?.FullName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-primary btn-sm rounded-0">ÇIKIŞ YAP</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-light btn-sm rounded-0" asp-controller="Account" asp-action="Register">KAYIT OL</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary btn-sm rounded-0" asp-controller="Account" asp-action="Login">GİRİŞ YAP</a>
    </li>
}
</ul>
